/ {
        chosen {
                bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw";
                stdout-path = "serial0:115200n8";
        };

        aliases {
                ethernet0 = &gem0;
                serial0 = &uart1;
                mmc0 = &sdhci0;
        };

        memory@0 {
                device_type = "memory";
                reg = <0x0 0x10000000>;
        };

        leds {
                compatible = "gpio-leds";

		led-green {
                        label = "led-green";
			gpios = <&gpio0 55 1>;
			default-state = "off";
                        linux,default-trigger = "heartbeat";
		};
		led-red {
                        label = "led-red";
			gpios = <&gpio0 54 1>;
			default-state = "off";
		};
        };

        buttons {
                compatible = "gpio-keys-polled";
                poll-interval = <100>;

                s2-button {
                        gpios = <&gpio0 20 1>;
                        label = "s2-button";
                        default-state = "keep";
                        linux,code = <106>;
                        autorepeat;
                };
                s3-button {
                        gpios = <&gpio0 32 1>;
                        label = "s3-button";
                        default-state = "keep";
                        linux,code = <105>;
                        autorepeat;
                };
        };
};

&clkc {
       fclk-enable = <0xf>;
};

&uart1 {
       status = "okay";
};

&gem0 {
        status = "okay";
        phy-mode = "rgmii-id";
        phy-handle = <&ethernet_phy0>;

        ethernet_phy0: ethernet-phy@0 {
                reg = <0>;
        };
};

&sdhci0 {
        status = "okay";
};

&gpio0 {
        gpio-mask-low = <0x5600>;
};

&amba {
        smcc: memory-controller@e000e000 {
                status = "okay";
                compatible = "arm,pl353-smc-r2p1", "arm,primecell";
                reg = <0xe000e000 0x0001000>;
                clock-names = "memclk", "apb_pclk";
                clocks = <&clkc 11>, <&clkc 44>;
                ranges = <0x0 0x0 0xe1000000 0x1000000 /* Nand CS region */
                        0x1 0x0 0xe2000000 0x2000000 /* SRAM/NOR CS0 region */
                        0x2 0x0 0xe4000000 0x2000000>; /* SRAM/NOR CS1 region */
                #address-cells = <2>;
                #size-cells = <1>;

                nand0: nand-controller@0,0 {
                        status = "okay";
                        compatible = "arm,pl353-nand-r2p1";
                        reg = <0 0 0x1000000>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        pg_hack {
                                /*
                                ** Driver pl35x-nand-controller.c, function pl35x_nand_chip_init for some reason is handed a sub-node (this node).
                                ** Previously this was the partitions node, representing fixed-parititions, now its just a dummy to provide the reg property.
                                */
                                reg = <0>;
                        };
                };
        };
};
